@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* ------------------------------------------------------------------------------------- */
/* Scrollbar */
/* ------------------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    margin-left: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(44, 44, 44);
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #ee7707;
  border-radius: 43px;
}
::-webkit-scrollbar-track:hover {
  background: white;
}
::-webkit-scrollbar-track:active {
  background: #ee7707;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (min-width: 801px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 99vw;
        height: 55vw;
        background-color: rgba(17, 17, 17, 0.966);
    }
    
    /* ------------------------------------------------------------------------------------- */
    /* Accueil */
    /* ------------------------------------------------------------------------------------- */
    
    body .bgacc {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 99vw;
        min-height: 55vw;
        background-image: url("/img/bgsitewebechecs.png");
        background-attachment: fixed;
        object-fit: cover;
        z-index: 100;
    }
    
    body .bgacc .logo {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 15vw;
        height: 15vw;
        z-index: 100;
        transition: 300ms;
    }
    
    body .bgacc .logo img {
        max-width: 15vw;
        max-height: 15vw;
        border-radius: 50%;
        opacity: 0.5;
        transition: 300ms;
    }
    
    body .bgacc .logo img:hover {
        opacity: 0.95;
        box-shadow: 0 0 10px grey;
        transition: 300ms;
    }

    body .bgacc .burger {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-left: 55vw;
        transition: 300ms;
        z-index: 100;
        padding: 0.5vw;
        transition: 300ms;
    }

    body .bgacc .burger svg {
        width: 3vw;
        height: 3vw;
        color: orange;
        cursor: pointer;
    }

    body .bgacc .burger:hover {
        background-color: rgba(150,150,150,0.150);
        border-radius: 50%;
        transition: 300ms;
    }
    
    body .bgacc .menuacc {
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: flex-end;
        justify-content: center;
        width: 30vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-left: 55vw;
        transition: 300ms;
        z-index: 100;
    }
    
    body .bgacc .menuacc .menuclose{
        display: flex;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
        transition: 300ms;
    }
    
    body .bgacc .menuacc li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 20vw;
        height: 5vw;
        transition: 500ms;
    }
    
    body .bgacc .menuacc li:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: 500ms;
    }
    
    body .bgacc .menuacc li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 20vw;
        height: 5vw;
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(216, 215, 215, 0.877);
        text-align: center;
        text-decoration: none;
        transition: 300ms;
    }
    
    body .bgacc .menuacc li a:hover {
        color: orange;
        background-color: rgba(0,0,0,0.15);
        border-radius: 0 21px 21px 0;
        transform: rotate3d(0, 0, 1, -2deg);
        transition: 600ms;
    }
    
    body .bgacc .menuacc li a i {
        width: 5vw;
        color: rgba(255, 255, 255, 0.932);
    }
    
    body .bgacc .menuacc li a i:hover {
        color: orange;
    }

    body .bgaccpage .menuart {
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: flex-end;
        justify-content: center;
        width: 15vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-left: 83vw;
        transition: 300ms;
        z-index: 100;
    }
    
    body .bgaccpage .menuart .menuclose{
        display: flex;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
        color: #ee7707;
        transition: 300ms;
    }
    
    body .bgaccpage .menuart li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 15vw;
        height: 3vw;
        transition: 500ms;
    }
    
    body .bgaccpage .menuart li:hover {
        transform: scale(1.05);
        cursor: pointer;
        transition: 500ms;
    }
    
    body .bgaccpage .menuart li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 20vw;
        height: 3vw;
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(216, 215, 215, 0.877);
        text-align: center;
        text-decoration: none;
        transition: 300ms;
    }
    
    body .bgaccpage .menuart li a:hover {
        color: orange;
        background-color: rgba(0,0,0,0.15);
        border-radius: 0 21px 21px 0;
        transform: rotate3d(0, 0, 1, -2deg);
        transition: 600ms;
    }
    
    body .bgaccpage .menuart li a i {
        width: 5vw;
        color: rgba(255, 255, 255, 0.932);
    }
    
    body .bgaccpage .menuart li a i:hover {
        color: orange;
    }
    
    body .bgacc .footeracc {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 25vw;
        height: 55vw;
        margin-right: 75vw;
        background-color: rgba(15,15,15,0.650);
    }
    
    body .bgacc .footeracc .footeracc1 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 20vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-left-color: orange;
        border-left-width: 1.5px;
        border-left-style: solid;
        transition: 500ms;
    }

    body .bgacc .footeracc .footeracc1:hover {
        border-left-color: grey;
        border-left-width: 1.5px;
        border-left-style: solid;
        transition: 500ms;
    }
    
    body .bgacc .footeracc .footeracc1 .contentfoot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: rgb(0,0,0);
        background: linear-gradient(113deg, rgba(0,0,0,0.15) 20%, rgba(0,0,0,0.5) 100%);
        border-radius: 0 21px 21px 0;
        width: 18vw;
        padding: 1.5vw;
        margin-left: 2vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(8px + 0.390625vw);
        color: rgba(126, 126, 126, 0.877);
        text-align: justify;
        transition: 500ms;
    }
    
    body .bgacc .footeracc .footeracc1 .contentfoot:hover {
        background: rgb(73, 73, 73);
        background: linear-gradient(113deg, rgba(0,0,0,0) 20%, rgba(73, 73, 73, 0.5) 100%);
        transform: scale(1.02);
        cursor: pointer;
        z-index: 100;
        transition: 500ms;
    }
    
    body .bgacc h3{
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.932);
        text-decoration: underline;
        height: 1.5vw;
    }
    
    body .bgacc .footeracc .footeracc1 .contentfoot .br{
        display: flex;
        flex-direction: column;
        height: 0.2vw;
        width: 18vw;
    }
    
    body .bgacc .footeracc .footeracc1 .contentfoot .txtfoot{
        display: flex;
        flex-direction: row;
    }
    
    body .bgacc a{
        color: orange;
        text-decoration: none;
    }
    
    /* ------------------------------------------------------------------------------------- */
    /* Club */
    /* ------------------------------------------------------------------------------------- */

    body .bgaccpage {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        width: 99vw;
        min-height: 55vw;
        background-image: url("/img/bgsitewebechecs.png");
        object-fit: cover;
        background-attachment: fixed;
        z-index: 100;
    }

    body .bgaccpage .headerpage {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-top: 0.5vw;
        width: 90vw;
        height: 20vw;
    }

    body .bgaccpage .headerpage .logopage {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        margin-left: 30vw;
        margin-top: 2vw;
        z-index: 100;
        transition: 300ms;
    }

    body .bgaccpage .headerpage .logopage img {
        max-width: 5vw;
        max-height: 5vw;
        border-radius: 50%;
        opacity: 0.5;
        transition: 300ms;
    }

    body .bgaccpage .headerpage .logopage img:hover {
        opacity: 0.95;
        box-shadow: 0 0 10px grey;
        transition: 300ms;
    }

    body .bgaccpage .headerpage .titlepage {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        justify-content: center;
        width: 52vw;
        height: 5vw;
        margin-left: 37vw;
        margin-top: 2vw;
        z-index: 100;
    }

    body .bgaccpage .headerpage .titlepage h1 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Oswald', sans-serif;
        font-size: calc(18px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: justify;
        border-left-color: orange;
        border-left-width: 1.5px;
        border-left-style: solid;
        cursor: pointer;
        transition: 500ms;
    }

    body .bgaccpage .headerpage.titlepage h1:hover {
        border-left-color: rgb(255, 255, 255);
        border-left-width: 1.5px;
        border-left-style: solid;
        background-color: rgba(0,0,0,0.15);
        border-radius: 0 21px 21px 0;
        cursor: pointer;
        transition: 500ms;
    }
    
    body .bgaccpage .burger {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 2.5vw;
        height: 2.5vw;
        margin-left: 95vw;
        margin-top: 2vw;
        transition: 300ms;
        z-index: 100;
        padding: 0.5vw;
        transition: 300ms;
    }

    body .bgaccpage .burger svg {
        width: 1.5vw;
        height: 1.5vw;
        color: orange;
        cursor: pointer;
    }

    body .bgaccpage .burger:hover {
        background-color: rgba(150,150,150,0.150);
        border-radius: 50%;
        transition: 300ms;
    }
    
    body .bgaccpage .menuacc {
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: flex-end;
        justify-content: center;
        width: 30vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        margin-left: 55vw;
        transition: 300ms;
        z-index: 100;
    }
    
    body .bgaccpage .menuacc .menuclose{
        display: flex;
        width: 5vw;
        height: 5vw;
        cursor: pointer;
        transition: 300ms;
    }
    
    body .bgaccpage .menuacc li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 20vw;
        height: 5vw;
        transition: 500ms;
    }
    
    body .bgaccpage .menuacc li:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: 500ms;
    }
    
    body .bgaccpage .menuacc li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 20vw;
        height: 5vw;
        margin-top: 1.25vw;
        margin-bottom: 1.25vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(216, 215, 215, 0.877);
        text-align: center;
        text-decoration: none;
        transition: 300ms;
    }
    
    body .bgaccpage .menuacc li a:hover {
        color: orange;
        background-color: rgba(0,0,0,0.15);
        border-radius: 0 21px 21px 0;
        transform: rotate3d(0, 0, 1, -2deg);
        transition: 600ms;
    }
    
    body .bgaccpage .menuacc li a i {
        width: 5vw;
        color: rgba(255, 255, 255, 0.932);
    }
    
    body .bgaccpage .menuacc li a i:hover {
        color: orange;
    }

    body .bgaccpage .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50vw;
        min-height: 43vw;
        margin-left: 30vw;
        margin-top: 10vw;
        padding: 1vw;
        z-index: 100;
        background-color: rgba(22, 22, 22, 0.74);
        border-radius: 21px 21px 0 0;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        text-align: justify;
        line-height: 0.8vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    body .bgaccpage .content .imgarticle {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 48vw;
        min-height: 10vw;
        padding: 1vw;
        margin-bottom: 1vw;
        z-index: 100;
        border-bottom-color: rgba(255, 166, 0, 0.123);
        border-bottom-width: 1.5px;
        border-bottom-style: solid;
        overflow-y: hidden;
        overflow-x: auto;
    }

    body .bgaccpage .content .imgarticle img {
        max-height: 8vw;
        border-radius: 21px;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        opacity: 0.5;
        transition: 300ms;
    }

    body .bgaccpage .content .imgarticle img:hover {
        opacity: 0.95;
        box-shadow: 0 0 10px grey;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle {
        display: block;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        width: 48vw;
        padding: 1vw;
        margin-left: 1vw;
        z-index: 100;
    }

    body .bgaccpage .content .contentarticle strong{
        font-weight: bold;
        color: orange;
    }
    
    body .bgaccpage .content .contentarticle p{
        line-height: normal;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        text-align: justify;
        background-color: rgba(0,0,0,0.05);
        margin-bottom: 1vw;
    }

    body .bgaccpage .content .contentarticle .alert{
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        font-size: calc(8px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        text-align: justify;
        font-weight: normal;
        width: 46vw;
        padding: 1vw;
        z-index: 100;
        margin-top: 3.5vw;
        margin-bottom: 3.5vw;
        background-color: rgba(255, 166, 0, 0.023);
        border-color: orange;
        border-width: 1.5px;
        border-style: solid;
        overflow-y: hidden;
        overflow-x: auto;
    }

    body .bgaccpage .content .contentarticle .alert b{
        font-weight: bold;
    }  

    body .bgaccpage .content .contentarticle .buttonacc{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 46vw;
        padding: 1vw;
        margin-bottom: 2vw;
        height: 3vw;
        z-index: 100;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle .buttonacc .itinéraire{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle .buttonacc .itinéraire:hover {
        background-color: rgba(0,0,0,0.15);
        border-radius: 21px;
        transform: rotate3d(0, 0, 1, -2deg);
        color: white;
        cursor: pointer;
        transition: 600ms;
    }

    body .bgaccpage .content .contentarticle .buttonacc .itinéraire svg{
        margin-right: 0.25vw;
    }

    body .bgaccpage .content .contentarticle .adhésion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle .adhésion:hover {
        background-color: rgba(0,0,0,0.15);
        border-radius: 21px;
        transform: rotate3d(0, 0, 1, -2deg);
        color: white;
        cursor: pointer;
        transition: 600ms;
    }

    body .bgaccpage .content .contentarticle .adhésion svg{
        margin-right: 0.25vw;
    }

    body .bgaccpage .footeracc {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 25vw;
        height: 55vw;
        margin-right: 75vw;
        background-color: rgba(15,15,15,0.650);
    }
    
    body .bgaccpage .footeracc .footeracc1 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 20vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-left-color: orange;
        border-left-width: 1.5px;
        border-left-style: solid;
        transition: 500ms;
    }

    body .bgaccpage .footeracc .footeracc1:hover {
        border-left-color: grey;
        border-left-width: 1.5px;
        border-left-style: solid;
        transition: 500ms;
    }
    
    body .bgaccpage .footeracc .footeracc1 .contentfoot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: rgb(0,0,0);
        background: linear-gradient(113deg, rgba(0,0,0,0.15) 20%, rgba(0,0,0,0.5) 100%);
        border-radius: 0 21px 21px 0;
        width: 18vw;
        padding: 1.5vw;
        margin-left: 2vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(8px + 0.390625vw);
        color: rgba(126, 126, 126, 0.877);
        text-align: justify;
        transition: 500ms;
    }
    
    body .bgaccpage .footeracc .footeracc1 .contentfoot:hover {
        background: rgb(73, 73, 73);
        background: linear-gradient(113deg, rgba(0,0,0,0) 20%, rgba(73, 73, 73, 0.5) 100%);
        transform: scale(1.02);
        cursor: pointer;
        z-index: 100;
        transition: 500ms;
    }
    
    body .bgaccpage h3{
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.932);
        text-decoration: underline;
        height: 1.5vw;
    }
    
    body .bgaccpage .footeracc .footeracc1 .contentfoot .br{
        display: flex;
        flex-direction: column;
        height: 0.2vw;
        width: 18vw;
    }
    
    body .bgaccpage .footeracc .footeracc1 .contentfoot .txtfoot{
        display: flex;
        flex-direction: row;
    }
    
    body .bgaccpage a{
        color: orange;
        text-decoration: none;
    }

    body .bgaccpage .content .contentarticle .shortart {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        width: 45vw;
        min-height: 5vw;
        margin-top: 2vw;
        padding: 1vw;
        z-index: 100;
        background-color: rgba(22, 22, 22, 0.74);
        border-radius: 21px 21px 0 0;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        text-align: justify;
        line-height: 0.8vw;
        overflow: hiden;
        transition: 600ms;
    }

    body .bgaccpage .content .contentarticle .shortart:hover {
        background-color: rgba(0,0,0,0.15);
        border-radius: 21px;
        transform: rotate3d(0, 0, 1, -2deg);
        transition: 600ms;
    }

    body .bgaccpage .content .contentarticle .shortart .imgshortart{
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        width:8vw;
        min-height: 5vw;
        padding: 1vw;
        z-index: 100;
        border-right-color: rgba(255, 166, 0, 0.123);
        border-right-width: 1.5px;
        border-right-style: solid;
        overflow: hiden;
    }

    body .bgaccpage .content .contentarticle .shortart .imgshortart img{
        max-width: 7vw;
        border-radius: 21px;
        opacity: 0.5;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle .shortart .imgshortart img:hover {
        opacity: 0.95;
        box-shadow: 0 0 10px grey;
        cursor: pointer;
        transition: 300ms;
    }

    body .bgaccpage .content .contentarticle .shortart .contentshortart{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        width: 37vw;
        padding: 1vw;
        margin-left: 1vw;
        z-index: 100;
    }

    body .bgaccpage .content .contentarticle .shortart .contentshortart .shorttitle{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: orange;
        text-align: justify;
        padding: 0.5vw;
        cursor: pointer;
        transition: 500ms;
    }

    body .bgaccpage .content .contentarticle .shortart .contentshortart .shorttitle:hover {
        background-color: rgba(0,0,0,0.55);
        border-radius: 0 21px 21px 0;
        transform: rotate3d(0, 0, 1, -2deg);
        transition: 600ms;
    }

    body .bgaccpage .content .contentarticle .shortart .contentshortart .shortdesc{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        text-align: justify;
        padding: 0.5vw;
        line-height: 1.5vw;
        transition: 500ms;
    }

    body .bgaccpage .content .contentarticle .shortart .contentshortart strong{
        font-weight: bold;
        color: orange;
    }
    
    body .bgaccpage .content .contentarticle .shortart .contentshortart p{
        line-height: 1vw;
        font-family: 'Oswald', sans-serif;
        font-size: calc(10px + 0.390625vw);
        color: rgba(255, 255, 255, 0.877);
        text-align: justify;
        background-color: rgba(0,0,0,0.05);
        margin-bottom: 1vw;
    }



}

